@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #222;
    color: white;
    font-family: montserrat, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the content is centered vertically */
    margin: 0; /* Remove default margin */
}

.header {
    position: absolute; /* Position relative to the body */
    top: 27px; /* Adjust this value to move the header up or down */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset by 50% to center perfectly */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it spans the full width of the page */
}

#return {
    background-color: grey;
    color: black;
    width: 120px;
    height: 50px;
    position: absolute;
    top: 10px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    font-weight:bold;
    font-size: 20px;
    cursor: pointer;
    font-family: montserrat, sans-serif;
}
.return:hover{
    background-color: rgb(87, 86, 86);
}

.logo {
    width: 160px;
    height: auto;
}

.upload {
    margin-top: 130px;
    background-color: #b22222;
    color: white;
    font-family: montserrat, sans-serif;
    font-size: 30px;
    width: 310px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}
.upload:hover{
    background-color: #E40011;
}

.file {  
    font-family: montserrat, sans-serif;
    font-size:20px;
    margin-left: 180px;
    margin-top:100px;
}

#category{
    font-family: montserrat, sans-serif;
    font-weight:100px;
    font-size: 20px;
    border-radius:10px;
    height:3rem;
    width:20rem;
    font-weight:bold;
    text-align:center;
}

.status {
    color: #b22222;
    text-align: center;
    min-height:40px;
    visibility: hidden;
    font-size:18px;
    font-weight:bold;
}

.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin-right: 8px;
  vertical-align: middle;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  